@model IEnumerable<MyFinanceCore5_SQLServer.Models.Entity.TypeFixedBill>

@{
    ViewData["Title"] = "Tipo de Conta Fixa";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/autofill/2.3.7/css/autoFill.dataTables.min.css" />
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="container-fluid mb-4 d-flex justify-content-end">
    <a class="btn btn-outline-primary" asp-action="Create">
        <i class="fa fa-upload fa-lg"> </i> Novo
    </a>

</div>
<div class="container-fluid">
      
    <table class="table table-hover" id="tbTypeFixedBills">
        <thead class="thead-dark text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>

                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @item.Name.ToUpper()
                    </td>

                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa fa-trash-alt"></i>
                        </a>

                        @*@await Html.PartialAsync("_BtnActions", item.Id)*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<div id="modal" class="modal fade" role="dialog" />*@

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/autofill/2.3.7/js/dataTables.autoFill.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#tbTypeFixedBills').DataTable();
        });

        //$('#myModal').on('shown.bs.modal', function () {
        //    $('#myInput').trigger('focus')
        //})

        //$(document).ready(function () {
        //    $(".details").click(function () {
        //        var id = $(this).data("id");
        //        alert("antes do load" + id);
        //        $("#contModal").load("/TypePayment/Details" + id,

        //            function () {
        //                $('#myModal').modal("show");
        //            }
        //        );
        //        alert("depois do load" + id);
        //    });
        //});


        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                        /*alert(id)*/;
                $("#modal").load("TypeFixedBills/Details/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                //alert(id);
                $("#modal").load("TypeFixedBills/Edit/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                /*alert(id);*/
                $("#modal").load("TypeFixedBills/Delete/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".create").click(function () {
                $("#modal").load("TypeFixedBills/Create", function () {
                    $("#modal").modal();
                })
            });

        })


    </script>

}
