@model MyFinanceCore5_SQLServer.Models.Entity.PictureIcon

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Class Bootstrap 4
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IconClass)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IconClass)
            </dt>
            <dd class="col-sm-10">
              <i class="@Html.DisplayFor(model => model.IconClass) fa-4x"></i>
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning"><i class="fa fa-edit"></i> Edit</a> |
        <a asp-action="Index">Voltar</a>
    </div>
@*-----------*@


<!--<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header bg-success text-dark">
            <p class="modal-title text-black-50"><i class="fa fa-file-alt fa-lg mr-2"> </i>@ViewData["Title"]</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    Class Bootstrap 4
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IconClass)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IconClass)
                </dt>
                <dd class="col-sm-8">
                    <i class="@Html.DisplayFor(model => model.IconClass) fa-4x"></i>
                </dd>
            </dl>
        </div>
        <div class="modal-footer bg-success">

        </div>
    </div>--> <!-- /.modal-content -->
<!--</div>--> <!-- /.modal-dialog -->