@model IEnumerable<MyFinanceCore5_SQLServer.Models.Entity.PictureIcon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="ml-2">
    <a asp-action="Create" class="btn btn-outline-primary"><i class="fab fa-plus fa-lg"></i> Novo</a>
</div>
<div class=" d-md-flex flex-md-wrap justify-content-start">
    @foreach (var item in Model)
    {

        <div class="card  m-2" >
            <div class="card-title p-2 text-left bg-success w-100 text-wrap text-center"> @item.Name.ToUpper() </div>
            <div class="card-body text-center">
                <i class="@item.IconClass fa-4x"></i>
            
            </div>
            <div class="card-footer">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>


    }
</div>